$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/*
  +------------------------------------+
  | Basic layout and color scheme      |
  +------------------------------------+
*/

// base colors
$bg-color : #353535; // background
$nb-bg-color : #f8f8f8; // navbar backgroudn
$nb-br-color : #e7e7e7; // navbar border
$nb-tx-color : $bg-color; // navbar text
$bt-bg-color : $bg-color; // button baground

// Color palet ! match this colors with the ones on main js
$dblue : lighten(#337ab7,5%);
$lgreen : #5cb85c;
$lblue : #5bc0de;
$lyellow : #f0ad4e;
$lred : lighten(#d9534f,5%);
$dpurple : lighten(#b658b2,5%);

// Info conteiner
$info-color : $bg-color; // text
$info-bg    : $nb-bg-color; // background

.browserupgrade {
  margin: 0.2em 0;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
  padding: 0px;
}

body {
  background: $bg-color;
  color: $nb-bg-color;
}

/*
  +------------------------------+
  | Basic HTML objects styles    |
  +------------------------------+
*/

/* HEADER */

header {
  text-align: center;
  background-color: $nb-bg-color;
  color: $nb-tx-color;
}

header span {
  align-items: center;
  text-align: center;
}

header h1,
header h3{
  display: inline-block;
}

header h1 {
  font-family: "Times New Roman", Times, serif;
}
header h3 {
  color: lighten($nb-tx-color,20%)
}

/* NAVBAR */

.navbar-default {
   background-color: $nb-bg-color;
   border-color: $nb-br-color;
   color: $nb-tx-color;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar a {
    color: $nb-tx-color !important;
}

// space the buttons when collapse
.in .navbar-form,
.collapsing .navbar-form
{
  border-top: none;
  margin-top: 8px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.in .navbar-form .btn,
.collapsing .navbar-form .btn
{
  margin-bottom: 8px;
}

// this space is added because is needed after build,
// diference between gulp serve and gulp serve:dist why?
#rec_selector label {
  margin-right: 4px;
}

/* MAP STYLES */

#map {
  width: 100%;
  height: 100%;
  background-color: darken($bg-color,3%);
}

/* MAP INFO STYLE */

// put it behind the navbar
.row {
  z-index: 0;
}

.info-conteiner {
  font-size: 20px;
  padding: 0px 6px;
  border-radius: 4px;
  text-align: center;
  color: $info-color;
  background: $info-bg;
  border: 2px solid darken($info-bg, 20%);
}
.info-conteiner h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;
}
.info-conteiner h5 {
  font-size: 65%;
  color: lighten($info-color, 10%);
}

/* FOOTER */

.footer {
  color: #777;
  bottom: 0px;
}

.footer p {
    font-size: small;
    margin: 3px;
}

/*
  +-------------------+
  | Left panel styles |
  +-------------------+
*/

// For scrolling properlly

#di-conteiner {
  padding: 0;
  overflow-y: auto;
}

#di-conteiner .row {
  margin: 0;
  padding: 0;
}

.row > .row {
  height: auto;
  padding: 0px 15px;
}

// Style

#di-conteiner .desc {
  text-align: left;
}
#di-conteiner .fase {
  text-align: right;
}

#di-conteiner .row [class*="col-"]{
  height: auto;
  border: 1px solid grey;
}

/*
  +------------------------------+
  | Responsive layout and styles |
  +------------------------------+
*/

// .mred{
//   border: 3px solid red;
// }
// .mblue{
//   border: 3px solid blue;
// }
// .mpurple{
//   border: 3px solid purple;
// }

.flex-conteiner-col {
  height: 100%;
  padding: 0px;
  display: flex;
  flex-flow: column;
}

.flex-item-grow {
  // width: 100%; // unnecesary?
  margin: 0px !important;
  flex: 1 1 auto;
}

.side-bar {
  // background-color: blue
}

.map-conteiner {
  height: 100%; // for flex
  padding: 0;
  margin: 0;
}

.row {
  // padding: 0px !important; // for flex, unnecesary?
  height: 100%; // for flex
}

[class*="col-"] {
  height: 100%;
}

// set view on small viewport
@media (max-width: 767px) {

  html, body {
    height: auto;
  }

  [class*="col-"] {
    height: auto;
  }

  #map {
    height: 300px;
  }

  .flex-conteiner-col {
    height: auto;
    // padding: 0px;
    // display: flex;
    // flex-flow: column;
  }

  .flex-item-grow {
    // width: auto; // unnecesary?
    // margin: 0px !important;
    flex: none;
  }

  .map-conteiner {
    height: auto;
  }

  .row {
    padding: none;
    height: auto;
  }

  // Map info box
  .info-conteiner h4 {
    font-size: 90%;
  }
  .info-conteiner h5 {
    font-size: 58%;
  }
}

/*
  +------------------------------+
  | BUTTON STYLES                |
  +------------------------------+
*/

$scolor: $bt-bg-color; // support color
$colorn : dblue, lgreen, lblue, lyellow, lred, dpurple;
$colorv : $dblue, $lgreen, $lblue, $lyellow, $lred, $dpurple;

@for $i from 1 through length($colorn) {
  .btn-#{nth($colorn,$i)} {
    // button-variant(letters, background, border)
    @include button-variant($scolor,
                            nth($colorv,$i),
                            darken(nth($colorv,$i), 10%));
    &.btn-inverse {
      @include button-variant(nth($colorv,$i),
                              $scolor,
                              nth($colorv,$i));
      &:hover,
      &:focus,
      &.active,
      &.focus
      {
        @include button-variant($scolor,
                                lighten(nth($colorv,$i), 10%),
                                nth($colorv,$i));
      }
    }
  }
}

// Remove blue border on press
label {
    outline: none !important;
}

/* Temporal fix for problem with flexbox
and navbar. The fix is applied collapsing
the menu from 860px */
@media (max-width: 860px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
