$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/*
  +------------------------------------+
  | Basic layout and color scheme      |
  +------------------------------------+
*/

// base colors
$bg-color : #353535; // background
$nb-bg-color : #f8f8f8; // navbar backgroudn
$nb-br-color : #e7e7e7; // navbar border
$nb-tx-color : $bg-color; // navbar text
$bt-bg-color : $bg-color; // button baground

// Color palet ! match this colors with the ones on main js
$dblue : lighten(#337ab7,5%);
$lgreen : #bf864a; //darken(#5cb85c,10%);
$lblue : #5bc0de;
$lyellow : #f0ad4e;
$lred : lighten(#d9534f,5%);
$dpurple : #5cb85c;

// Info conteiner
$info-color : $bg-color; // text
$info-bg    : $nb-bg-color; // background

// for futher mixings
$scolor: $bt-bg-color; // support color
$colorn : dblue, lgreen, lblue, lyellow, lred, dpurple;
$colorv : $dblue, $lgreen, $lblue, $lyellow, $lred, $dpurple;


.browserupgrade {
  margin: 0.2em 0;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
  padding: 0px;
}

body {
  background: $bg-color;
  color: $nb-bg-color;
}

/*
  +------------------------------+
  | Basic HTML objects styles    |
  +------------------------------+
*/

/* HEADER */

header {
  padding-top: 8px;
  text-align: center;
  background-color: $nb-bg-color;
  color: $nb-tx-color;
}

header img {
  margin: 15px;
  margin-top: 8px;
  height: 60px;
}

header span {
  height: auto;
  align-items: center;
  text-align: center;
}

header h1,
header h3{
  display: inline-block;
}

header h1 {
  font-family: "Times New Roman", Times, serif;
}
header h3 {
  color: lighten($nb-tx-color,20%)
}

/* NAVBAR */

.navbar-default {
   background-color: $nb-bg-color;
   border-color: $nb-br-color;
   color: $nb-tx-color;
}

.navbar {
  min-height: auto; // Enable grow of the heigth if content colapse
  margin-bottom: 0;
  border-radius: 0;
}

.navbar a {
    color: $nb-tx-color !important;
}

// space the buttons when collapse
.in .navbar-form,
.collapsing .navbar-form
{
  border-top: none;
  margin-top: 8px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.in .navbar-form .btn,
.collapsing .navbar-form .btn
{
  margin-bottom: 8px;
}

.glyphicon {
  font-size: 13px;
}

/* MAP STYLES */

#map {
  width: 100%;
  height: 100%;
  background-color: darken($bg-color,3%);
}

/* MAP INFO STYLE */

// put it behind the navbar
.row {
  z-index: 0;
}

.info-conteiner {
  font-size: 20px;
  padding: 0px 6px;
  border-radius: 4px;
  text-align: center;
  color: $info-color;
  background: $info-bg;
  border: 2px solid #000; //darken($info-bg, 20%);
}
.info-conteiner h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;
}
.info-conteiner h5 {
  margin-bottom: 0;
  font-size: 65%;
  color: lighten($info-color, 10%);
}

// north image
.north img {
  padding: 5px;
  border-radius: 4px;
  background: $info-bg;
  border: 2px solid #000; //darken($info-bg, 20%);
  width: 40px;
}

/* FOOTER */
footer {
  font-size: 12px;
  padding: 0px 5px;
  text-align: center;
  background-color: $nb-bg-color;
  color: $nb-tx-color;
  position: relative;
}

.cred {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: 10px;
}


/*
  +-----------------+
  | Checkbox styles |
  +-----------------+
*/
.dropdown-menu{
  max-height: 300px;
  overflow-y: auto;
  min-width: 200px;
}
.checkbox {
  padding: 0px 15px;
}

/*
  +-----------+
  | Map Icons |
  +-----------+
*/
.icon-marker{
  font-size: 20px;
  text-shadow: 1px 1px 5px #000;
}

.icon_plantas_potab {
  color: darken($dblue,15%);
}

.icon_c_acopio {
  color: darken($dpurple,5%);
}

.icon_cv_residuos {
  color: darken($lyellow,5%);;
}

/*
  +--------+
  | popups |
  +--------+
*/

.leaflet-popup-content{
  font-size: 10px;
  margin: 5px;
}

.leaflet-container a.leaflet-popup-close-button {
  font-size: 12px;
  width: 12px;
  height: 12px;
  padding: 2px 2px 0px 0px;
}

/*
  +-------------------+
  | Left panel styles |
  +-------------------+
*/

/* For scrolling properlly */

#di-conteiner {
  padding: 0;
}

#di-conteiner .row {
  margin: 0;
}

#di-row .row {
  position: relative;
  padding-bottom: 10px;
  height: auto;
}

#di-row div {
  margin-top: 10px;
}

#di-conteiner .row [class*="col-"]{
  height: auto;
}

/* Flex to center the content */

.di-conteiner-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.di-row-flex {
  height: auto !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  padding-bottom: 10px;
}

/* Style */

#resName {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

#di-row h3 {
  font-size: 1.5em;
  margin-top: 0;
}

#di-row .row {
  font-size: 11pt;
}

.descHeader {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: $nb-bg-color;
}
.desc {
  font-size: 1.1em;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;// right;
  color: darken($nb-bg-color, 25%);
}
.fase {
  font-size: 1em;
  padding-right: 15px;
  padding-left: 5px;// default15px
  text-align: left;
  color: darken($nb-bg-color, 36%);
}
.msg {
  text-align: center;
}

/*
  +------------------------------+
  | Responsive layout and styles |
  +------------------------------+
*/

// .mred{
//   border: 3px solid red;
// }
// .mblue{
//   border: 3px solid blue;
// }
// .mpurple{
//   border: 3px solid purple;
// }

.flex-conteiner-col {
  height: 100%;
  padding: 0px;
  display: flex;
  overflow: auto;
  flex-flow: column;
}

.flex-item-grow {
  // width: 100%; // unnecesary?
  margin: 0px !important;
  flex: 1 1 auto;
}

.side-bar {
  // background-color: blue
}

.map-conteiner {
  height: 100%; // for flex
  padding: 0;
  margin: 0;
}

.row {
  // padding: 0px !important; // for flex, unnecesary?
  height: 100%; // for flex
}

[class*="col-"] {
  height: 100%;
}

// set view on small viewport
@media (max-width: 767px) {

  html, body {
    height: auto;
  }

  [class*="col-"] {
    height: auto;
  }

  #map {
    height: 300px;
  }

  // To center buttons on mobile view
  #rec_selector {
    text-align: center;
  }

  .flex-conteiner-col {
    height: auto;
    // padding: 0px;
    // display: flex;
    // flex-flow: column;
  }

  .flex-item-grow {
    // width: auto; // unnecesary?
    // margin: 0px !important;
    flex: none;
  }

  .map-conteiner {
    height: auto;
  }

  .row {
    padding: none;
    height: auto;
  }

  // Map info box
  .info-conteiner h4 {
    font-size: 90%;
  }
  .info-conteiner h5 {
    font-size: 58%;
  }

  .dropdown-menu{
    max-height: none;
  }

  // north image
  .north img {
    width: 25px;
  }

}

// custom style for dinamic info
.col-custom {
  float: left;
}

@media (min-width: 450px) {
  .col-custom{
    width: 50%;
  }
}

@media (max-width: 449px) {
  .col-custom{
    width: 100%;
  }

  .desc {
    padding-right: 15px;
    text-align: center;
  }
  .fase {
    padding-left: 15px;
    text-align: center;
  }

}

/*
  +------------------------------+
  | BUTTON STYLES                |
  +------------------------------+
*/

@for $i from 1 through length($colorn) {
  .btn-#{nth($colorn,$i)} {
    // button-variant(letters, background, border)
    @include button-variant($scolor,
                            nth($colorv,$i),
                            darken(nth($colorv,$i), 10%));
    &.btn-inverse {
      @include button-variant(nth($colorv,$i),
                              $scolor,
                              nth($colorv,$i));
      &:hover,
      &:focus,
      &.active,
      &.focus
      {
        @include button-variant($scolor,
                                lighten(nth($colorv,$i), 10%),
                                nth($colorv,$i));
      }
    }
  }
}

// Remove blue border on press
button {
    outline: none !important;
}

/*
  +------------------------------+
  | EXTRA CLASSES FOR RESOURCES  |
  +------------------------------+
*/

.sep {
  position: absolute;
  margin-top: 0px !important;
  left: 35%;
  width: 30%;
  height: auto;
  border-top: 2px solid $nb-bg-color;
  @for $i from 1 through length($colorn) {
    &.sep-#{nth($colorn,$i)} {
      border-top: 2px solid nth($colorv,$i);
    }
  }
}

@for $i from 1 through length($colorn) {
  .color-#{nth($colorn,$i)} {
    color: nth($colorv,$i);
  }
}
