$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
  padding: 0px;
}

/* Define a container that fill its height
and width to match the browser space and
flex its inner content*/
#super-conteiner{
  display: flex;
  flex-flow: column;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  height:auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
  // border: 5px solid red;
}

/* navigation bar */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  flex: 0 1 auto;
  // border: 5px solid blue;
}

/* Define a container and set it
to position its content relative to */
.flex-conteiner {
  flex: 1 1 auto; // flex its height to fill
  display: flex;  // allow flex its inner content
  position: relative;
  // border: 5px solid green;
}

/* map styles */
#map {
	width: 100%;
  flex: 1 1 auto; // fill the remaining height
  z-index: 0;
  // border: 5px solid yellow;
}

/* Small footer */
.footer {
  z-index: 1;
  position: absolute;
  color: #777;
  bottom: 0px;
}

p {
    font-size: small;
    margin: 3px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  p {
      font-size: smaller;
      margin: 3px;
  }

  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
